/* styles
karla 20 medium
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 20px;
karla regular 16
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 16px;
markazi 64 medium
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 64px;
markazi regular 32
  font-family: "Markazi Text", serif;
  font-weight: 400;
  font-size: 32px;
markazi 24 bold
  font-family: "Markazi Text", serif;
  font-weight: 700;
  font-size: 24px;
*/

/* #root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid black;
  width: 100vw;
} */

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: hsl(0, 0%, 92%);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 70%);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 55%);
}

.homepage {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "Karla", sans-serif;
  justify-content: center;
  /* align-items: center; 
  very unfortunate line spent a lot of time troubleshooting
  basically centering it will make the things take less space
  better value would be space-between
   */
}

.content {
  max-width: 60vw;
}

h1 {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 64px;
}

.markazi-32 {
  font-family: "Markazi Text", serif;
  font-weight: 400;
  font-size: 32px;
}

button {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 20px;
  background-color: hsl(50, 91%, 52%);
  border: none;
  border-radius: 1rem;
  width: 12.75rem;
  height: 3.375rem;
  transition: background-color 0.3s;
}
button:hover {
  background-color: hsl(50, 91%, 42%);
}
button:active {
  background-color: hsl(50, 91%, 82%);
}

nav {
  margin: 0 auto;
  padding: 2rem 1rem 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

nav img {
  height: 3rem;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 2rem;
}

nav a {
  color: #333;
}

a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}
a:hover {
  color: hsl(211, 100%, 70%);
}

footer {
  background-color: #EDEFEE;
}
footer > div {
  margin: 1rem auto 0 auto;
  display: flex;
  padding: 3rem 0;
  gap: 2rem;
}
footer > div > div {
  flex: 1 1 auto;
}
footer h3 {
  color: #495E57;
}
footer img {
  width: 9rem;
}

/* HomePage */
.hero {
  background-color: #495E57;
}
.hero > div {
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero img {
  width: 30rem;
  height: 31rem;
  object-fit: cover;
  object-position: center;
  margin-bottom: -4rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.hero > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero h1 {
  text-align: left;
  color: #C3A510;
  margin: 0;
  line-height: 0.7;
}
.hero h2 {
  text-align: left;
  color: white;
  margin: 0;
}
.hero p {
  text-align: left;
  max-width: 16vw;
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin: 2rem 0;
}

.specials {
  padding: 7rem 0 4rem 0;
}
.specials > div {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.specials h1, .specials button {
  margin: 0 0 4rem 0;
}
.specials > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.special-card {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: #EDEFEE;
  width: 17.5vw;
}
.special-card > div {
  padding: 1.5rem;
}
.special-card > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.special-card img {
  width: 17.5vw;
  height: 12vw;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.special-card > div > p:first-of-type {
  color: #333;
  min-height: 6rem;
}
.special-card > div > div > p {
  font-family: "Markazi Text", serif;
  font-weight: 700;
  font-size: 24px;
  color: #EE9972;
  margin: 0;
}
.special-card > div > div > h3 {
  font-family: "Markazi Text", serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

.testimonials {
  background-color: #EE9972;
  padding: 10rem 0 15rem 0;
}
.testimonials > div {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.testimonials h1 {
  text-align: center;
  margin: 0 0 4rem 0;
}
.testimonials > div > div {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.testimonial-card {
  width: 14vw;
}
.testimonial-card > div{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
}
.testimonial-card img {
  margin: 1rem 1rem 0 0;
  border-radius: 50%;
}
.testimonial-card > div > div {
  display: flex;
  align-items: center;
  margin: 0.5rem 0; 
}
.testimonial-card h3 {
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 16px;
  margin: 0;
}
.testimonial-card > div > div > h3 {
  font-family: "Karla", sans-serif;
  font-weight: 700;
}
.testimonial-card > div > p {
  margin: 0.7rem 0 0.2rem 0;
}

.brand-description {
  padding: 6rem 0;
}
.brand-description > div {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.brand-description img {
  width: 20rem;
  height: 23rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
}
.brand-description img:first-of-type {
  left: 30vw;
  top: 3rem;
  z-index: -1;
}
.brand-description img:last-of-type {
  left: 43vw;
}

.brand-description > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.brand-description h1 {
  text-align: left;
  margin: 0;
}
.brand-description h2 {
  text-align: left;
  margin: 0;
}
.brand-description p {
  text-align: justify;
  max-width: 24vw;
  font-size: 18px;
  font-weight: 500;
  margin: 2rem 0;
  color: #333;
}
@media (max-width: 1250px) {
  .content {
    max-width: 82vw;
  }
  nav ul li {
    margin: 0 0.8rem;
  }

  .hero img {
    width: 40vw;
  }
  .hero p {
    max-width: 18rem;
  }

  .special-card {
    width: 24vw;
  }
  .special-card img {
    width: 24vw;
  }

  .testimonials > div > div{
    gap: 1rem;
  }
  .testimonial-card {
    width: 14rem;
  }
  .testimonial-card > div > div {
    white-space: nowrap;
  }

  .brand-description img:first-of-type {
    left: 25rem;
    top: 6rem;
    z-index: -1;
  }
  .brand-description img:last-of-type {
    left: 30rem;
  }
  .brand-description p {
    max-width: 30vw;
  }
}
@media (max-width: 1020px) {
  .brand-description img:first-of-type {
    left: 23rem;
    top: 6rem;
    z-index: -1;
  }
  .brand-description img:last-of-type {
    left: 30rem;
  }
  .brand-description p {
    max-width: 35vw;
  }
}
@media (max-width: 780px) {
  .content {
    max-width: 90vw;
  }
  nav {
    flex-direction: column;
  }
  nav ul {
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  nav ul li {
    margin: 0;
  }

  footer > div {
    flex-direction: column;
    gap: 0;
  }
  footer img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    object-position: 50% 40%;
    border-radius: 1rem;
  }
  .hero > div {
    flex-direction: column;
    gap: 2rem;
  }
  .hero img {
    width: 100%;
    height: 20rem;
    margin: 0;
  }
  .hero p {
    max-width: 100%;
  }

  .specials h1 {
    margin: 0;
  }
  .specials button {
    margin: 0 0 1rem 0;
  }
  .specials > div > div {
    flex-direction: column;
    gap: 1rem;
  }
  .special-card {
    width: 100%;
  }
  .special-card img {
    width: 100%;
    height: 15rem;
  }
  .special-card > div > p:first-of-type {
    color: #333;
    min-height: 0;
  }

  .testimonials > div > div {
    gap: 1rem;
  }
  .testimonials h1 {
    margin: 0 0 1rem 0;
  }  
  .testimonials > div > div {
    flex-direction: column;
  }
  .testimonial-card {
    width: 100%;
  }
  
  .brand-description > div {
    flex-direction: column;
    gap: 2rem;
  }
  .brand-description img {
    position: static;
    width: 100%;
    height: 15rem;
  } 
  .brand-description p {
    max-width: 100%;
  }
}


/* BookingPage */
.booking-page {
  margin: 0 auto;
}
form {
  display: flex;
  flex-direction: column;
  margin: 4rem 2rem;
  font-size: 24px;
  font-weight: 600;
  background-color: rgb(237, 239, 238);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 1rem;
}

form h2 {
  margin: 0.5rem 0 2rem 0;
}

form select, form input {
  font-size: 20px;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid black;
  margin: 0.5rem 0 2rem 0;

}

.booking-page button {
  margin: 2rem auto 1rem auto;

} 

/* OtherPages */
.other-page {
  margin: 0 auto 4rem auto;
}