/* styles
karla 20 medium
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 20px;
karla regular 16
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 16px;
markazi 64 medium
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 64px;
markazi regular 32
  font-family: "Markazi Text", serif;
  font-weight: 400;
  font-size: 32px;
markazi 24 bold
  font-family: "Markazi Text", serif;
  font-weight: 700;
  font-size: 24px;
*/

/* #root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid black;
  width: 100vw;
} */

.homepage {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "Karla", sans-serif;
  justify-content: center;
  /* align-items: center; 
  very unfortunate line spent a lot of time troubleshooting
  basically centering it will make the things take less space
  better value would be space-between
   */
}

h1 {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 64px;
}

.markazi-32 {
  font-family: "Markazi Text", serif;
  font-weight: 400;
  font-size: 32px;
}

button {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 20px;
  background-color: #f4ce14;
  border: none;
  border-radius: 16px;
  width: 204px;
  height: 54px;
}

nav {
  max-width: 80vw;
  margin: 0 auto;
  padding: 2rem 1rem 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

nav img {
  height: 3rem;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 2rem;
}

nav a {
  text-decoration: none;
  color: #333;
  &:hover {
      color: #007bff;
  }
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: left;
  }
  nav ul li {
    margin: 0.5rem 0;
  }
}

footer {
  background-color: #EDEFEE;
}
footer > div {
  max-width: 80vw;
  margin: 1rem auto 0 auto;
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding: 3rem;
  align-self: center;
}
footer div {
  flex: 1 1 auto;
}
footer h3 {
  color: #495E57;
}

/* HomePage */
.hero {
  background-color: #495E57;
}
.hero > div {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero img {
  width: 400px;
  height: 400px;
  margin: 2rem;

}
.hero > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero h1 {
  text-align: left;
  color: #C3A510;
  margin: 0;
  line-height: 0.7;
}
.hero h2 {
  text-align: left;
  color: white;
  margin: 0;
}
.hero p {
  text-align: left;
  max-width: 320px ;
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin: 2rem 0;
}

.specials > div {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.specials h1 {
  margin: 0;
  line-height: 0.7;
}
.specials > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.special-card {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: #EDEFEE;
}

.special-card > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.special-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.special-card > div > p {
  font-family: "Markazi Text", serif;
  font-weight: 700;
  font-size: 24px;
  color: #EE9972;
}

.testimonials {
  background-color: #EE9972;
}
.testimonials > div {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.testimonials h1 {
  text-align: center;
  margin: 0;
  line-height: 0.7;
}
.testimonials > div > div {
  display: flex;
  justify-content: space-between;
}

.brand-description > div {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand-description img {
  width: 300px;
}
.brand-description > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.brand-description h1 {
  text-align: left;
  margin: 0;
  line-height: 0.7;
}
.brand-description h2 {
  text-align: left;
  margin: 0;
}
.brand-description p {
  text-align: justify;
  max-width: 470px;
  font-size: 18px;
  font-weight: 500;
  margin: 2rem 0;
  color: #333;
}